@charset "utf-8";

/*
   Author: Christina Kallas & Sebastien Seide
   Date: 26/11/2021
   
   Filename: comments_layout.css

*/


/* Article Styles */
article {
   float: left;
   width: 1152px;
}



/* First Line and Drop Cap Styles */
div#joinus p:first-of-type::first-line {
   font-size: 1.25em;
   font-variant: small-caps;
}
  
div#joinus p:first-of-type::first-letter {
   font-size: 4em;
   font-family: serif;
   float: left;
   line-height: 0.8em;
   margin-right: 5px;
   margin-bottom: 5px;
}

/* Styles for the Countdown Clock */

div#countdown {
   width: 100%;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: row nowrap;
   flex-flow: row nowrap;
   margin-top: 10px;

}

div#countdown div {
   display: block;
   text-align: center;
   width: 100%;
   line-height: 1.5em;
   font-size: 0.5em;
   font-family: segment14, sans-serif;
   color: white;
   background: rgba(85, 19, 19, 0.7);
   margin: 0px 1px;
   padding: 5px;
   color: white;
}

div#countdown div span {
   font-size: 2em;   
}


div#twitter{
   text-align: center;
}

div#othersocials{
   text-align: center;
}